@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    background: #000814;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    text-align: center;
}

.all{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 .3rem;
    background: #118ab2;
    width: 10rem;
    -webkit-box-reflect: 
    below 5px linear-gradient(to bottom, 
    rgba(68, 0, 0, 0), rgba(0,0,0,0.1));
    border-radius: .5rem;
}

.second{
    background: #ef233c;
}

.second .text{
    background: #a81022;
}

span{
    margin-top: 2rem;
}

.text{
    background: #09526b;
    width: 100%;
    padding: .5rem;
}

.digit{
    font-size: 3.5rem;
}

.clock{
    display: flex;
    /* width: 90%; */
    justify-content: center;
    align-items: center;
}

.greet{
    margin: 1rem;
    background-color: #118ab2;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    width: 31rem;
}